<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.oneToOne.dao.AccountMapper">
    <!--定义结果集对应关系-->
    <resultMap id="userAccountMap" type="com.mybatis.oneToOne.bean.UserAccount">
        <id property="id" column="id"></id>
        <result property="user_name" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="role_id" column="role_id"></result>
        <result property="date_first" column="date_first"></result>
        <!-- 一对一关系映射对应关系,封装account信息,使用javaType实现对象映射 -->
        <association property="account" javaType="com.mybatis.oneToOne.bean.Account">
        <!--<association property="account" column="cid" javaType="com.mybatis.oneToOne.bean.Account">-->
            <id property="id" column="cid"></id>
            <result property="uid" column="id"></result>
            <result property="money" column="money"></result>
            <result property="timestamp" column="timestamp"></result>
        </association>
    </resultMap>
    
    <select id="getUserAccountByUid" resultMap="userAccountMap" >
        select a.*,b.timestamp,b.money,b.id as cid from user a right outer join account b on a.id = b.uid where a.id = #{uid}
    </select>
</mapper>